extend layout.pug 
block body 
    .container-fluid 
        .row 
            .offset-md-4.col-md-4
                h1 Chào mừng bạn đến với lab4 - Lập trình chức năng
                //- h2= user.username 
                //- h3= user.email