extend layout.pug 
block body 
    .container-fluid
        .row 
            .offset-md-4.col-md-4
                h1 WELCOME TO LAB 4 - LẬP TRÌNH CHỨC NĂNG 
                br 
                a.btn.btn-primary(href="/user/login")  LOGIN 
                a.btn.btn-primary(href="/user/register")  REGISTER